@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,400italic,600italic,700,700italic,800,800italic);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
*{
	margin:0px; 
	padding:0px;
}
html, body{height:100%; font-family: 'Open Sans', sans-serif;}

header {
    background: url("../images/header_bg.png") repeat-x scroll center top rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    font-family:'Roboto',sans-serif;
    margin: 0;
    padding: 0 0 55px ;
    text-shadow: 2px 2px rgba(35, 35, 35, 0.2);
}
header h1 {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: -2px;
    margin: 50px 0 0;
    padding: 0 10px;
    text-transform: uppercase;
}
header h2 {
    font-size: 23px;
    font-weight: 400;
    letter-spacing: -1px;
    margin: 0 0 47px;
    padding: 0 10px;
    text-transform: uppercase;
}
footer{margin:0;border-top:1px solid #d4d4d4; padding:20px 0; background:url(../images/footer_bg.png) repeat-x top; color:#9e9e9e; font-size:12px; font-weight:400; text-transform: uppercase;}
.icon_img {
    border: 1px solid rgb(203, 203, 203);
    border-radius: 51px;
    float: left;
    padding: 12px;
}
.icon_img{ float:left; border:1px solid #cbcbcb; margin:23px 0px;}
.email_block{margin:0 auto;width: 84%;}

.content_block{ font-family: 'Roboto',sans-serif; color:#323232;}
.content_block h1{font-weight:38px; text-transform:uppercase; font-weight:700}
.content_block p{color:#676767;font-weight:400; padding:10px 20px;}
.dot_border {
    border-bottom: 1px dashed rgb(212, 212, 212);
    border-top: 1px dashed rgb(212, 212, 212);
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    margin: 20px 0;
    padding: 0 6px;
}
.dot_border p{margin-bottom:0;padding:12px 0; font-size:14px; color:#646464}
.dot_border h2{margin-bottom:0;padding: 0 0 0; margin:0; font-size:20px; font-weight:700; text-transform:uppercase; color:#444444;}

.i_cont{ padding:23px 26px 23px 20px;}
.buttom_btns{ margin:55px 0;padding:0;text-transform:uppercase; color:#ffffff; font-weight:700;font-family: 'Open Sans', sans-serif; }
.buttom_btns img{ position:absolute; right:0; bottom:0;}
.red_btn{ background-color:#d25353;color:#ffffff !important; margin-left:4px; font-size:16px; position:relative}
.green_btn{ background-color:#69c43f; color:#ffffff !important;  margin-right:4px;font-size:16px;position:relative}


@media only screen and (max-width:768px){
.dot_border{border-top:1px dashed #d4d4d4; border-bottom:1px dashed #d4d4d4;font-family: 'Open Sans', sans-serif; font-weight:400; padding:0; margin:20px 0}
.dot_border p{margin-bottom:0;padding:12px 0; font-size:14px; color:#646464}
.dot_border h2{margin-bottom:0;padding: 0 0 0; margin:0; font-size:20px; font-weight:700; text-transform:uppercase; color:#444444;}
.header_video{ padding:0 30px}

.col-lg-4 {
    clear: both;
    margin: 0 auto;
    padding: 0 2%;
    width: 409px;
	float:none;
}
.col-lg-8 {
    margin: 0 auto;
    width: 66.6667%;
}
.icon_img {
    border: 1px solid rgb(203, 203, 203);
    float: left;
    margin: 23px 12px 23px 0;
}
header h1 {
    font-size: 43px;
   
}
header h2 {
    font-size: 20px;
   
}
}
@media only screen and (max-width:320px){
header h1 {font-size: 46px;}
header h2 { font-size: 20px;}
.header_video{ padding:0 30px}
.col-lg-4 {clear: both;margin: 0 auto;padding: 0 2%; width:94%;}
.col-lg-8 {margin: 0 auto;width:100%;}
.green_btn {
    margin: 0 0 10px;
 }
}
